.container{
    border-radius: 10px;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 55vh;
}

.header{
    width: 50%;
    border: 1px solid royalblue;
    margin-left: 25%;
    background-color: royalblue;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 17px 0 10px -2px #eee;
}

.text-body{
    width: 50%;
    margin-left: 25%;
    border: 1px solid #ccc;
    padding: 5px 20px;
    box-shadow: 17px 15px 10px -2px #eee;
    
}

.msg{
    color: #555;
}

.otp{
    background-color: #fff;
    display:inline-block;
    font-size: 30px;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid #555;
    color: #333;
    letter-spacing: 9px;
}